#include "resource.h"
IDI_APPICON ICON "..\\TagEssentials.ico"
IDR_COSMIC_BACKGROUND RCDATA "..\\assets\\cosmic_background.png"
IDR_COSMIC_PLANETS RCDATA "..\\assets\\cosmic_planet_sheet.png"
IDR_THEME_NEON_CITY RCDATA "..\\assets\\theme_neon_city.png"
IDR_THEME_ENCHANTED_FOREST RCDATA "..\\assets\\theme_enchanted_forest.png"
IDR_THEME_INFERNO RCDATA "..\\assets\\theme_inferno.png"
IDR_THEME_ARCTIC_AURORA RCDATA "..\\assets\\theme_arctic_aurora.png"
IDR_THEME_NEON_TRAIN_SPRITE RCDATA "..\\assets\\theme_neon_train_sprite_key.png"
IDR_THEME_FOREST_MOTH_SPRITE RCDATA "..\\assets\\theme_forest_moth_sprite_key.png"
IDR_THEME_INFERNO_FLAME_SPRITE RCDATA "..\\assets\\theme_inferno_flame_sprite_key.png"
IDR_THEME_ARCTIC_SNOW_SPRITE RCDATA "..\\assets\\theme_arctic_snow_sprite_key.png"
IDR_THEME_NEON_FLYING_CAR_SPRITE RCDATA "..\\assets\\theme_neon_flying_car_sprite_key.png"
